#nav {
    list-style:none inside;
    margin:0;
    padding:0;
    text-align:center;
    }

    #nav li {
    display:block;
    position:relative;
    float:left;
    }

    #nav li a {
    display:block;
    padding-top: 15px;
    text-decoration:none;
    width:250px; /* this is the width of the menu items */
    line-height:35px; /* this is the hieght of the menu items */
    text-align: center;
    color: #3c4245;
    }


    #nav li li a {font-size:80%;} /* smaller font size for sub menu items */

    #nav ul {
    position:absolute;
    border: 1px solid #e3e3e3;
    top: 100%;
    padding:0;
    left:0;
    display:none; /* hides sublists */
    }

    #nav li:hover ul ul {display:none;} /* hides sub-sublists */
    #nav li:hover ul {
        display:block;
        z-index: 1;
        background-color: white;
    } /* shows sublist on hover */

    #nav li div {
        display: none;
    }

    #nav li:hover div.reports {
        display: block;
        background-color: white;
        width: 600px;
        height: 400px;
        border: 1px solid #E7E9EB;
        z-index: 12;
    }

    #nav li li:hover ul {
    display:block; /* shows sub-sublist on hover */
    margin-left:250px; /* this should be the same width as the parent list item */
    margin-top:-60px; /* aligns top of sub menu with top of list item */
    z-index: 1;
    background-color: white;
    }
img{
    padding-right: 0px;
}
ul {
  list-style-type: none;

}

div.header {
    border-bottom: 1px solid #3c4245;
}
h2 {
    margin-top: 2px;
    padding-top: 2px;
}

#containerr {
    padding-top: 100px;
    padding-bottom: 200px;
}

li {
    float: left;
 }

 li.menu{
 }
 li.courses {
    border: 1px solid #3c434a;
    transition: transform .2s;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 5px;
 }

 li.courses:hover {
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
 }
 
 li a {
   display: block;
   text-align: center;
   padding: 5px 5px;
   text-decoration: none;
   color: #3c4245;
 }

 li {
    cursor: pointer;
 }

 .sub_sub_menu {
    font-size: 25px;
 }

 .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

span{
    padding: 5px;
}

input{
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #3c434a;
}

   
    

 